server:
  port: 8087
spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  sql:
    init:
      mode: never
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        show_sql: true
        format_sql: true
        use_sql_comments: true
        hbm2ddl:
          auto: create
        default_batch_fetch_size: 1000
jwt:
  secret-key :${JWT_TOKEN_SECRET}

oauth:
  kakao:
    client-id: ${CLIENT_ID}
    url:
      auth: https://kauth.kakao.com
      api: https://kapi.kakao.com